:root {
  --primary-color: HSL(83, 76%, 90%);
  --secondary-color: HSL(208, 25%, 22%);
  --accent-color: HSL(40, 96%, 80%);
  --primary_text: 'ia Writer Quattro';
  --secondary_text: 'IBM-Plex-Mono';
}
@font-face {
  font-family: 'iA Writer Quattro';
  src: url('fonts/quattro/iAWriterQuattroS-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url(fonts/quattro/iAWriterQuattroS-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url(fonts/quattro/iAWriterQuattroS-Italic.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'IBM-Plex-Mono';
  src: url(fonts/IBM-Plex-Mono/IBMPlexMono-TextItalic.woff);
  font-weight: normal;
  font-style: italic;
}


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* This grid pattern taken from tachyon's debug-grid class.  Tachyons is great, see them at tachyons.io  */
  background: var(--primary-color) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII=) repeat top left;
  color: var(--secondary-color);
  font-family: var(--primary_text);
  font-size: 20px;
  min-height: 100vh;
}

nav.mainNav {
  padding: 1.5em;
  padding-bottom: 0;
}
nav.mainNav a {
  color: #136151;
  text-decoration: none;
  font-size: 1.3em;
  padding-right: 0.5em;
}

nav.mainNav a:before {
  content: "⬨";
  padding-right: 0.1em;
}

nav.mainNav a:hover:before ,
nav.mainNav a:active {
   content: "⬧" ;
}

ul.publications {
  margin: 0;
  padding: 0;
}

li.publication ,
div.publication ,
div.preview ,
#publish-form {
  margin: 0 auto 3em auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li.publication {
  border-bottom: 7px solid var(--accent-color);
}

li.publication figure ,
div.preview figure ,
div.publication figure ,
span.publish-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

li.publication figure img ,
div.preview figure img ,
div.publication figure img ,
span.publish-figure img {
  max-width: 100%;
}

li.publication figcaption ,
div.preview figcaption ,
div.publication figcaption {
  max-width: 50vw;
  margin: 1em auto 1em auto;
  font-size: 0.75em;
  font-family: var(--secondary_text);
  font-style: italic;
}

li.publication div.description ,
div.preview div.description ,
div.publication div.description {
  max-width: 80%;
  margin: 1em auto auto auto;
}
#publish-form span.description {
  max-width: 80%;
}

#publish-form textarea#imgDesc {
  background: none;
  border: none;
  width: 70vw;
  min-height: 150px;
  font-size: 20px;
}

#publish-form textarea#imgDesc::placeholder {
  font-size: 20px;
}

div.description ,
div.publicationDescription ,
#publish-form textarea#imgDesc {
  margin: 1em auto 1.5em auto;
}

h2.publicationTitle ,
form#publish-form input#imgTitle {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0;
}

form#publish-form input#imgTitle {
  background: none;
  border: none;
  width: 70vw;
}

form#publish-form ::placeholder {
  opacity: 1;
  color: var(--primary_color);
}

a.author {
  text-decoration: none;
  margin-bottom: 1em;
  font-style: italic;

}

/* If there is no title given, don't indent our author */
.author:first-child {
  text-align: center;
}

time.pubTime {
  display: none;
}

nav.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

nav.pagination button {
  margin: 0.5em;
}

@media (max-width: 667px) {
  li.publication , div.publication ,  figure {
    padding: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3em;
  }
  li.publication figcaption {
    max-width: 100vw;
    padding: 0.25em;
    font-size: 16px;
  }
}

#img-input-form {
  height: 80vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-input-form label[for="imgInput"],
div.publish-form-addl-details h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

div.publish-form-addl-details h1 {
  text-align: center;
}

#publish-form label {
  display: none;
}

#publish-form #imgCaption {
  width: 50vw;
  height: 150px;
  border: none;
  background: transparent;
  margin: 1em auto 2em auto;
  font-family: var(--secondary_text);
  font-style: italic;
}

#publish-form #imgCaption::placeholder ,
#imgCaption {
  font-size: 18px;
}

#publish-form input[type='submit'] {
  margin-top: 0;
  width: 50vw;
  height: 40px;
  background: var(--accent-color);
}

#publish-form button#removeImg ,
#publish-preview button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 40px;
  background: var(--accent-color);
}

#publish-preview button {
  margin-bottom: 0.5em;
  font-size: 24px;
  background: var(--accent-color);
}

textarea#imgCaption:focus,
input#imgTitle:focus,
textarea#imgDesc:focus {
  background: var(--accent-color) !important;
  opacity: 0.5;
}

#publish-form input[name="imgInput"]{
  display: none !important;
}

#publish-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}


